* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.row_padding {
    padding:0 10px;
}

.fit{
  float:left;
  width:100%;
}

img {
    max-width: 100%;
    height: auto;
}

@media (min-width:295px){

.fit
{
  width:33.33333%;
 float:left;
  width:100%;

}

.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}
#submit {
  text-align: center;
 }

.formStyle {
    font-size:18pt;
     height:75px;
     width:125px;
  margin: 0 auto;  
  padding: 10px 0;
  text-align: center; 
}

 #ageDiv {
    background-color: #97b847;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }

 #heightDiv {
    background-color: #0099cc;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }
 #weightDiv {
    background-color: #666699;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }
 #title {
  text-align: center;
 }

 #calcText {
  text-align: center;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 24px;
 }
  #titleText {
  text-align: center;
  color: #000000;
  font-family: "Merriweather";
  font-size: 20px;
 }

}



@media (min-width:800px){

.fit{width:33.33333%}

.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}

#submit {
  text-align: center;
 }

.formStyle {
    font-size:18pt;
     height:75px;
     width:125px;
  margin: 0 auto;  
  padding: 10px 0;
  text-align: center; 
}

 #ageDiv {
    background-color: #97b847;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }

 #heightDiv {
    background-color: #0099cc;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }
 #weightDiv {
    background-color: #666699;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }
 #title {
  text-align: center;
 }

 #calcText {
  text-align: center;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 24px;
 }
  #titleText {
  text-align: center;
  color: #000000;
  font-family: "Merriweather";
  font-size: 22px;
 }

}



@media (min-width:1200px){
.fit{width:33.33333%}

.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}

.formStyle {
    font-size:18pt;
     height:75px;
     width:125px;
  margin: 0 auto;  
  padding: 10px 0;
  text-align: center; 
}

 #ageDiv {
    background-color: #97b847;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }

 #heightDiv {
    background-color: #0099cc;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }
 #weightDiv {
    background-color: #666699;
    text-align: center;
    min-height: 365px;
     max-height: 365px;
 }
 #title {
  text-align: center;
 }
 #submit {
  text-align: center;
 }

 #calcText {
  text-align: center;
  color: #ffffff;
  font-family: "Myriad Pro";
  font-size: 30px;
 }
 #titleText {
  text-align: center;
  color: #000000;
  font-family: "Merriweather";
  font-size: 22px;
 }

}